
.custom-input{
  height: 35px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid gray;
}

.input-password-container{
  position: relative;
}

.icon-password{
  position: absolute;
  top: 10px;
  right: 0px;
}

.input-container{
  width: 100%;
  max-width: 400px;
}