body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, input{
  padding: 0px;
}

.mb-16{
  margin-bottom: 16px;
}

.mb-8{
  margin-bottom: 8px;
}

.container{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 180px;
}

.d-flex{
  display: flex
}

.flex-column{
  flex-direction: column;
}

.justify-content-center{
  justify-content: center;
}

.text-center{
  text-align: center;
}